body{
  font-family: "ainslie-sans", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1.25rem;
  margin: 0px;
  padding: 0px
  
}

ul {
  list-style: none;
}

section {
  max-width: 100%;
}

/* Navbar */

 .navbar{
 padding: 20px 0px;

} 

.navbar ul {
    max-width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:0
}

li a {
  display: block;
  color: #BEA960;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
} 


/* Slick slider  */
.container {
  padding: 40px;
  background: #fd93db;
  color: white
}

.slick-slide img {
  margin: auto;
}

.slick-slide h4 {
  text-align: center;
}
.slick-slide p {
  font-size: 2.5rem;
}

/* Page Sections */
#titleSection{
  height: 699px;
  color: white;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("./images/hero-desktop.c7e07343.png");
}

#cyanSection{
  background-color: #77cfd2;
  color: white;
}

.titleHeight{
  height: 250px;
}

/* Button */

.button {
  border-radius: 15px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 60px;
  line-height: 20px;
  margin: 0;
  padding: 20px 40px;
}

.primary {
  background-color: #EA4C89;}

.secondary {
  background-color:#BEA960;
}

.tertiary {
  color:#BEA960;
}

.coral{
  color:#77cfd2
}

.btn-pair{
  display: flex;
  gap: 5rem;
  align-items: center;
  margin-bottom: 2rem;
}

/* Heading */

h1 {
  font-size:4.5em;
  font-weight:100;
  margin-top:0px;
  margin-bottom: 1rem;
}

h3, h4{
  font-weight: 100;
}

h2 {
  font-weight: 200;
  font-size: 2.5em;
}

p, h2{
  padding: 1rem;
  text-align: center;
}
.subHeader {
  font-weight: 100;
}

/* Centering */
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.horizontalCenter {
  display: flex;
  justify-content: center;
}

/* Images */
.mirror{
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin-top: -1rem;
  width: 80%;
  max-width: 400px;
  height: auto;
}

.image{
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin-top: 1rem;
  width: 80%;
  max-width: 300px;
  max-height: 600px;
  height: auto;
}

.pics{ 
  max-width: 1250px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}

.imageSecMargin{
  margin-top: 2rem;
}

/* Form */

.form {
  max-width: 800px;
  margin: 0 auto;
}

.form-segment{
  border: 2px solid rgb(190, 169, 96);
  outline: none;
  color: rgb(190, 169, 96);
  padding-right: 40px;
  margin:30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.selectOption{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.dropdownArrow{
  margin-left: 20px;
  width: 15px;
}

.cursorPointer{
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.option-margin{
  margin-top: 10px;
}

input {
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 160px;
}

input[type="text"]
{
    font-size:20px;
}

::placeholder { 
  color: rgb(190, 169, 96);
  font-family: "ainslie-sans", sans-serif;
  font-weight: 100;
}

textarea:focus, input:focus{
  outline: none;
}

textarea {
  border: none;
  outline: none;
  font-size: 20px;
  font-family: "ainslie-sans", sans-serif;
  max-width: 100%;
}

ul.form-segment.dropdown{
  padding:0;
}

/* Footer */

.footer{
  padding: 10px;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-bottom: 5rem;

}

.footerList {
  display: table;
  margin: 0 auto;
  padding:0;
}


.help{
  margin-right: 20px;
  margin-bottom: 5px;
  text-align: center;
}
.flair{
  margin-right: 70px;
  margin-bottom: 5px;
  text-align: center;
}
.legal{
  margin-right: 130px;
  margin-bottom: 5px;
  text-align: center;
} 

.block2{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.price-item{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.price-padding{
  padding-right: 80px;
  padding-left: 30px;
}

.margin-bottom{
  margin-bottom:10rem;
}

/* Media Queries */

@media screen and (max-width: 450px) {
  .titleHeight{
    height: 175px;
  }
  #titleSection{
    height: 500px;
    color: white;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("./images/backgroundMobile.png");
  }
 h1 {
   font-size: 2.8rem;
   padding: 2rem;
   margin-bottom: 0;
 }
 h2{
   font-size: 1.8rem;
 }
 .button {
  border-radius: 15px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  height: 40px;
  line-height: 10px;
  margin: 0;
  padding: 10px 25px;
}
li a{
  font-size: 1rem;
}
.text-center{
  text-align: center;
}

.center-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-slide p {
  font-size: 1.5rem;
}
.plist{
  padding-bottom: 0;
}
.subTop{
  margin-top:10px;
  padding: 0 5px;
}

.mleft{
  margin-left: 8px;
}

} 

  @media screen and (min-width: 451px) and (max-width: 1000px) {
    .mright{
      margin-right:10px
    }
    
   .main{
    margin: auto;
    width: 60%;
    padding-left: 10px;
   }
   h1{
     font-size: 4rem;
   }
   .mainTitle {
    font-size: 4rem;
    padding: 4rem;
    margin-bottom: 0;
  }
  h2{
    font-size: 2.5rem;
  }
  .button {
    border-radius: 15px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    height: 50px;
    line-height: 10px;
    margin: 0;
    padding: 10px 25px;
  }
  
  .priceTitle{
    margin-left: 7rem;
    height: 150px;
    padding-top: 3rem;
  }
  .midmargin{
    margin-right: 20px;
  }
  }
  
  @media (min-width: 600px) {
    .block2 { grid-template-columns: repeat(2, 1fr); }
    .btn-margin{
      margin-top: 2rem;
    }
    .mirror{
      margin-top: -2rem;
    } 
  
    .priceTitle{
      margin-left: 7rem;
      height: 150px;
      padding-top: 3rem;
    }
   
  }

  @media screen and (max-width: 600px) {
    .centerPic{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media screen and (min-width: 1000px) {
    .titleBlockM{
      margin-right: 200px;
    }
    }
  
   